.CompoItem{
    --c: rgb(56, 26, 26);
    color: var(--c);
    font-size: 18px;
    border: 0.1em solid var(--c);
    border-radius: 2em;
    width: 500px ;
    height: 50px;
    background-color: rgb(217, 217, 250);
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    z-index: 1;
    transition: 0.5s;
}